<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  xmlns="http://www.w3.org/1999/html">
  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
        <ion-segment [(ngModel)]='pageTab'>
        <ion-segment-button value="userdata">Profile Information</ion-segment-button>
        <ion-segment-button value="ordersdata">Orders Information</ion-segment-button>
        <ion-segment-button value="edituserdata">Edit Profile</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 table-responsive-sm" *ngIf="pageTab=='userdata'">
                <!--<div>
                    <form method="post" name="imageForm"  enctype="multipart/form-data">
                        <ion-item no-lines >
                            <input  id="userprofilepicfile" #userprofilepicfile type="file" name="userprofilepic">
                        </ion-item>

                    </form>
                </div>-->
                <div>
                    <img [src]="httpservice.hostdomain+UserData.imageurl" class="img-fluid rounded-circle"/>
                </div>
                <div >
                    <table class="table table-striped table-primary">
                        <thead>
                            <tr>
                                <th>Profile</th>
                                <th>Profile</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{UserData.name}}</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>{{UserData.positionname}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>{{UserData.rolename}} | {{UserData.rolenote}}</td>
                        </tr>
                        <tr>
                            <td>Bio</td>
                            <td>{{UserData.about}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{UserData.address}}</td>
                        </tr>
                        <tr>
                            <td>Mobile</td>
                            <td>{{UserData.mobile}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4 bg-warning"></div>
        </div>

        <div class="row"  *ngIf="pageTab=='ordersdata'">
            <div class="col-sm-8">
                <div class="table-responsive-sm">
                    <table class="table table-striped table-success">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>order delivery time</th>
                                <th>order type</th>
                                <th>order category</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let od of Orders; let i = index">
                            <tr>
                                <td>{{od.status}} <br> {{od.statusnote}}</td>
                                <td>{{od.orderdate}} | {{od.ordertime}}</td>
                                <td>{{od.carttypename}}</td>
                                <td>{{od.cartcategoryname}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row"  *ngIf="pageTab=='edituserdata'">
            <div class="col-sm-8">

                <ion-item no-lines>
                    <ion-label stacked>Name {{UserData.usersname}}</ion-label>
                    <ion-input required type="text" [(ngModel)]="UserData.usersname" [disabled]="!showPasswordField"></ion-input>
                </ion-item>
                <ion-item *ngIf="showPasswordField" no-lines bottomMargin>
                <ion-label stacked>Password {{UserData.password}}</ion-label>
                <ion-input required type="password" [(ngModel)]="UserData.password"></ion-input>
                </ion-item>
                <ion-item no-lines bottomMargin>
                    <ion-label stacked>Email {{UserData.email}} {{UserData.password}}</ion-label>
                    <ion-input required type="email" [(ngModel)]="UserData.email"  [disabled]="!showPasswordField"></ion-input>
                </ion-item>
                <ion-item no-lines>
                    <ion-label stacked>Mobile: {{UserData.mobile}}</ion-label>
                    <ion-input required type="tel" [(ngModel)]="UserData.mobile"  [disabled]="!showPasswordField"></ion-input>
                </ion-item>
                <ion-item no-lines>
                    <ion-label stacked>Delivery Address {{UserData.address}}</ion-label>
                    <ion-textarea required [(ngModel)]="UserData.address" [value]="UserData.address">{{UserData.address}}</ion-textarea>
                </ion-item>
                <ion-item no-lines>
                    <ion-buttons>
                        <button (click)="editUserData()" ion-button block>
                            Update Profile
                        </button>
                    </ion-buttons>
                </ion-item>
            </div>
        </div>
    </div>
</ion-content>
