<ion-menu [content]="nav1" >
    <ion-header>
        <ion-toolbar color="primary" padding style="text-align: center;">
            <span style="font-size: 5em;"><ion-icon name="cutlery"></ion-icon></span>
            <ion-title><small>Wendy Kitchen </small></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item no-lines><ion-icon name="home" padding end></ion-icon> Home</ion-item>
        <!--<ion-item (click)="pushPage('AboutPage')"><ion-icon name="persons" padding end></ion-icon> About Us</ion-item>
        -->
        <ion-item no-lines (click)="pushPageWithParameters('AboutPage', {langcode: 1})"><ion-icon name="people" padding></ion-icon> About Us</ion-item>
        <ion-item no-lines  *ngIf="UserId">
            <ion-buttons>
                <button ion-button block (click)="pushPageWithParameters('ProfilePage',{userid:UserId})">
                    <ion-icon name="person" padding ></ion-icon> My Account
                </button>
                <button ion-button block (click)="logOut()">
                    <ion-icon name="logout" padding ></ion-icon> Log Out
                </button>
            </ion-buttons>
        </ion-item>
        <ion-item no-lines><ion-icon name="settings" padding></ion-icon> Update Tools</ion-item>



        <div>
            <ion-item no-lines>
                Products <span class="btn" item-right (click)="showItemsOf= 'productcategories'"><ion-icon name="add"></ion-icon></span>
            </ion-item>

            <div *ngIf="showItemsOf == 'productcategories'">
            <div *ngFor="let m of MenuItems.productcategories; let mi = index">
            <ion-item no-lines>
                <span padding>{{m.name}}</span>
            </ion-item>

        </div>
        </div>
        </div>


        <div>
            <ion-item no-lines>
                Order  Categories <span class="btn" item-right (click)="showItemsOf= 'cartcategories'"><ion-icon name="add"></ion-icon></span>
            </ion-item>

            <div *ngIf="showItemsOf == 'cartcategories'">
            <div *ngFor="let m of MenuItems.cartcategories; let mi = index">
            <ion-item no-lines>
                <span padding>{{m.name}}</span>
            </ion-item>

        </div>
        </div>
        </div>


        <div>
            <ion-item no-lines>
                Order Types <span class="btn" item-right (click)="showItemsOf= 'carttypes'"><ion-icon name="add"></ion-icon></span>
            </ion-item>

            <div *ngIf="showItemsOf == 'carttypes'">
            <div *ngFor="let m of MenuItems.carttypes; let mi = index">
            <ion-item padding no-lines>
                <span padding>{{m.name}}</span>
            </ion-item>

        </div>
        </div>
        </div>
        <!--<div *ngFor="let m of MenuItemsArray; let mi = index">
            <div no-lines>
                <span>{{m.name}}</span>
                <span class="btn" item-right (click)="showItemsOf= m.name"><ion-icon name="caret"></ion-icon></span>

                <div *ngIf="showItemsOf == m.name">
                    <div *ngFor="let m2 of MenuItems.">
                        <span>m2.name</span>
                    </div>
                </div>
            </div>
        </div>-->
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" id="naw1" #nav1></ion-nav>
<!--<ion-header>
    <ion-toolbar>
        <ion-item color="primary">
            <ion-buttons>
                <button ion-button icon-only menuToggle item-start>
                    <ion-icon name="menu"></ion-icon>
                </button>
                <button ion-button icon-only item-right>
                    <ion-icon name="person"></ion-icon>
                </button>
            </ion-buttons>
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>-->
